body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    transition: background-color 0.3s ease;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ecf0f1;
}

main {
    display: flex;
}

#sidebar {
    width: 200px;
    background-color: #2c3e50;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

#sidebar h2 {
    color: #ecf0f1;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar a {
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    transition: color 0.3s ease;
}

#sidebar a:hover {
    color: #3498db;
}

#content {
    flex: 1;
    padding: 20px;
}

#welcome-section {
    text-align: center;
    margin-bottom: 20px;
}

#student-list, #recent-reports, #announcements, #profile {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
}

#student-list h2, #recent-reports h2, #announcements h2, #profile h2 {
    color: #3498db;
}

#student-list ul, #recent-reports ul {
    list-style-type: none;
    padding: 0;
}

#student-list li, #recent-reports li {
    margin-bottom: 10px;
}

#student-list li::before,
#recent-reports li::before {
    content: '\2022'; 
    color: #3498db;
    margin-right: 8px;
}

#student-list li:hover,
#recent-reports li:hover,
#announcements li:hover,
#profile li:hover {
    background-color: #f4f4f4;
}

#profile .avatar {
    width: 80px;
    height: 80px;
    background-color: #3498db;
    border-radius: 50%;
    margin-right: 20px;
}

#profile .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#profile .user-info {
    flex-grow: 1;
}

#profile p {
    margin: 0;
    margin-bottom: 10px;
}

#announcements p::first-letter {
    font-size: 24px;
    color: #3498db;
}